body {
    background-image: url("../images/background-tablet.png");
}

main {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.triangulos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}