@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$color-primario: #0047F7;
$color-secundario: #FD00B0;
$color-terciario: #0EAEC8;
$color-claro: #fff;
$color-oscuro: #333333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-family: "Roboto Condensed", sans-serif;;
    font-size: 62.5%;
    background-image: url("../images/background-mobile.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $color-claro;
    text-align: center;
    box-shadow: 0 4px 4px rgba(33, 33, 33, .3);
}

header h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
    color: $color-primario;
}

header p {
    font-size: 1.2rem;
    color: $color-oscuro;
}

main {
    display: flex;
    flex-direction: column;
}

.boxs-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    padding: 10px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 35px 0;
    width: 261px;
    height: fit-content;
    background-color: $color-claro;
    border-radius: 14px;
    box-shadow: 0 8px 6px 0 rgba(143, 126, 126, 0.3);
}

.triangulos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triangulos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box--title {
    margin: 40px 0 0;
    width: 80%;
    max-width: 921px;
    padding: 10px 0;
    min-width: 261px;
}

.box__title {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $color-primario;
}

.box__description {
    text-align: center;
    font-size: 1rem;
}

.box__image {
    margin: 20px 0;
}

.box__subtitle {
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $color-primario;
}

.box__subtitle--second {
    margin-top: 20px;
}

.box__label {
    font-size: 1.1rem;
    width: 85%;
}

.tamaño {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__input {
    margin-top: 9px;
    padding-left: 10px;
    width: 224px;
    height: 33px;
    font-size: .8rem;
    border: 1px solid rgba(33, 33, 33, .3);
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(33, 33, 33, .3);
    outline: none;
}

.box__input--medida {
    width: 147px;
}

.medida__container {
    position: relative;
}

.medida {
    margin-top: 9px;
    margin-left: 9px;
    width: 68px;
    padding: 0 16px;
    height: 33px;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-claro;
    background-color: $color-oscuro;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(33, 33, 33, .3);
    outline: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.medida::-ms-expand {
    display: none;
}

.medida__flecha {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 10px;
    display: block;
}

.box__button {
    margin-top: 9px;
    width: 224px;
    height: 33px;
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-claro;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(33, 33, 33, .3);
    cursor: pointer;
    &--primario {
        background-color: $color-primario;
    }
    &--secundario {
        background-color: $color-secundario;
    }
    &--terciario {
        background-color: $color-terciario;
    }
}

.resultado__text {
    margin: 15px 0 9px;
    color: $color-oscuro;
    font-size: 1rem;
    text-align: center;
}

.resultado {
    font-size: 1.4rem;
    font-weight: 600;
}

footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: $color-claro;
    text-align: center;
    box-shadow: 0px -4px 0 0 rgba(33, 33, 33, .3);
}

footer p {
    font-size: 1.2rem;
}

footer p strong a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
}